@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 10px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
}

.weather-app {
  border: 1px solid #dadde1;
  margin: 20px auto;
  max-width: 500px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(186, 192, 195, 1) 0%,
    rgba(14, 71, 102, 1) 71%
  );
}

.weather-icon {
  text-align: center;
}

.weather-quote {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.WeatherTemperature {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 10px 0 0;
}

.current-temperature {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.unit {
  font-size: 20px;
  position: relative;
  top: -50px;
  left: -15px;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding: 0px;
}
li {
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.day-and-time li {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.wind-and-precipitation {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 15px 0 0;
}

.wind-and-precipitation li {
  font-size: 12px;
}

form {
  text-align: center;
}

.search-bar {
  width: 60%;
  border-radius: 5px;
  margin: 30px 10px 0;
}

.prediction-text {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  text-align: center;
}

p {
  padding: 7px;
}

footer {
  text-align: center;
  margin: 10px 0 100px;
}

hr {
  border-top: 1px solid #ffffff;
}
