.Forecast {
  font-size: 11px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin-left: 38px;
}

.Forecast canvas {
  width: 70px;
  opacity: 1;
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}
